{% extends 'base.html' %}
{% block content %}
<button id="myButton" class="float-left submit-button" >Results</button>
<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/results/";
    };
</script>

<button id="Button" class="float-left submit-button" >Summary</button>
<script type="text/javascript">
    document.getElementById("Button").onclick = function () {
        location.href = "/summary_view/";
    };
</script>

{% endblock %}


